.container {
  padding: 24px;
  background-color: #fff;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.tab {
  width: 130px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.tabIcon {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

.activeTab {
  background-color: #1a3fa2;
  color: white;
  border-color: #1a3fa2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  color: #B9B9C3;
  outline: none; /* varsayılan mavi çerçeveyi kaldırır */
}

.input:focus {
  border: 1px solid #1D3587;
}

select.input {
  appearance: none; /* varsayılan oku gizler */
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  padding-right: 36px;
}

.input::placeholder {
  color: #B9B9C3; /* veya istediğin başka bir renk */
  opacity: 1;     /* bazı tarayıcılarda silikliği kaldırmak için */
}

.label {
  font-size: 12px;
  font-weight: 600;
  color: #4D4A48;
  margin-bottom: 6px;
  display: block;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #4D4A48;
  size: 12px;
  margin-bottom: 5px;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #999;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
}

.checkbox:checked {
  background-color: #1D3587; /* mavi arka plan */
  border-color: #1D3587;
}

.checkbox:checked::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 3px;
}

.saveButton {
  margin-top: 16px;
  align-self: center;
  padding: 12px 28px;
  background-color: #1D3587;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.saveButton:hover {
  background-color: #132f7c;
}