.branchTableContainer {
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sectionTitle {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}

.label {
    font-size: 12px;
    font-weight: 600;
    color: #4D4A48;
    margin-bottom: 6px;
    display: block;
}

.input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    outline: none;
    /* varsayılan mavi çerçeveyi kaldırır */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}