/* Abouttextarea */
.aboutTextareaContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.textarea {
  width: 70%;
  min-height: 160px;
  padding: 12px 16px;
  font-size: 14px;
  color: #4D4A48;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background-color: #f9f9f9;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

.textarea:focus {
  border-color: #7367f0;
  background-color: #fff;
}

.sectionTitle {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}