.userAddTableContainer {
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sectionTitle {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}

.labelTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    color: #5E5873;
}

.label {
    font-size: 12px;
    font-weight: 600;
    color: #4D4A48;
    margin-bottom: 6px;
    display: block;
}

.input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    outline: none;
    /* varsayılan mavi çerçeveyi kaldırır */
}

.checkboxGroup {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #4D4A48;
    size: 12px;
    margin-bottom: 5px;
}

.checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid #999;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    margin-right: 8px;
    position: relative;
}

.checkbox:checked {
    background-color: #1D3587;
    /* mavi arka plan */
    border-color: #1D3587;
}

.checkbox:checked::after {
    content: "✓";
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}